<h1><%= @user.name %>さんのプロフィール</h1>
<ul>
  <li>メールアドレス: <%= @user.email %></li>
  <li>郵便番号: <%= @user.postal_code %></li>
  <li>住所: <%= @user.address %></li>
  <li>自己紹介: <%= @user.self_introduction %></li>
</ul>

